@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

// Hero
.hero {
    // @include background-image("../../assets/images/hero-bio.jpg");
    height: 57.5vw;

    @include desktop {
        max-height: 38.5rem;
    }
    
    &__title {
        @include margin;
    }
}

// About

.about {
    background-color: $white;
    color: $bandsite-black;
    @include margin;

    &__title {
        @include header-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
        }
    }

    &__image {
        box-sizing: border-box;
        width: 100%;
        height: 54vw;
        object-fit: cover;
        object-position: 0 100%;
        padding: 0.5rem 0;

        @include tablet {
            padding: $tablet-in-padding 3.75rem;
            height: 47vw;
        }

        @include desktop {
            max-height: 33rem;
        }
    }

    &__quote {
        @include subheader-mobile;

        @include tablet {
            @include typography(600, 1.4rem, 1.8rem);
            padding: 0 3.75rem;
        }
    }

    &__credit {
        @include subheader-mobile;
        padding-top: 0.25rem;

        @include tablet {
            @include typography(600, 1rem, 1.25rem);
            padding: 0.75rem 3.75rem 0 3.75rem;
        }
    }
}

// Bees Knees
.bees-knees {
    background-color: $white;
    color: $bandsite-black;
    padding-bottom: $mobile-padding;
    @include margin;

    @include tablet {
        padding: $tablet-in-padding 0;
    }

    &__title {
        @include subheader-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include subheader-tablet;
            padding-right: 3.75rem;
            padding-left: 3.75rem;
        }
    }

    &__content-container {
        @include tablet {
            @include flex(flex-start, center, 1.25rem);
            padding: 0 3.75rem;
        }
    }

    &__content {
        @include copy-mobile;
        padding-top: $mobile-padding;

        @include tablet {
            @include typography(400, 0.875rem, 1.43rem);
        }
    }
}

// Gallery
.gallery {
    background-color: $alabaster;

    &__title {
        color: $bandsite-black;
        @include header-mobile;
        padding-top: $mobile-headline-padding;
        @include margin;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
        }
    }

    &__image-container {
        @include flex(space-between, center, $tablet-in-padding, $mobile-padding, wrap);
        padding: $mobile-padding 0;
        @include margin;

        @include tablet {
            row-gap: $tablet-in-padding;
            padding: $tablet-in-padding 0 $tablet-out-padding 0;
        }
    }

    &__image {
        width: 100%;
        filter: grayscale(100%);
        
        &:hover {
            filter: none;
        }

        @include tablet {
            width: calc((100% - 2*$tablet-in-padding)/3);
        }
    }

}

// Comments Section

.comments {
    background-color: $white;
    @include margin;

    &__title {
        @include header-mobile;
        color: $bandsite-black;
        padding-top: 0.8rem;
        padding-bottom: 0.5rem;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
            padding-bottom: 2rem;
        }
    }

    &__container {
        padding-bottom: $mobile-padding;

        @include tablet {
            padding: 0 3.75rem;
            padding-bottom: $tablet-out-padding;
        }

        @include desktop {
            padding-right: 16.1rem;
            padding-left: 16.1rem;
        }
    }
}

.form {
    @include flex(flex-start, flex-start, $mobile-padding);
    border-bottom: 1px solid $mercury;
    padding-bottom: $mobile-padding;
    
    @include tablet {
        margin: 0 3.75rem;
        border-bottom-width: 2px;
    }

    @include desktop {
        margin: 0 16.1rem;
    }

    &__img {
        @include avatar;
        margin-top: 1.5rem;
    }

    &__container {
        border: none;
        flex-grow: 1;
        @include flex(flex-start, stretch);
        flex-direction: column;
    }

    &__label {
        @include label-mobile;
        text-transform: uppercase;
        color: $silver;

        @include tablet {
            @include label-tablet;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
    }

    &__input {
        background-color: $alabaster;
        box-sizing: border-box;
        padding: 0.75rem;
        border: 1px solid $mercury;
        border-radius: 4px;
        width: 100%;
        height: 2.25rem;
        margin-top: 0.25rem;
        margin-bottom: $mobile-padding;
        font-family: 'Avenir Next', Verdana, Geneva, Tahoma, sans-serif;
        @include copy-mobile;


        &:active {
            border: 1px solid $bandsite-black;
        }

        &:user-invalid {
            border: 1px solid $invalid-red;
        }

        &::placeholder {
            color: $bandsite-black;
            }

        @include tablet {
            height: 3rem;
            padding: 1rem; 
        }
    }

    &__textarea {
        @extend .form__input;
        resize: none;
        height: 6rem;
    }

    &__button {
        @include button;

        @include tablet {
            align-self: flex-end;
        }
    }
}

.comment {
    box-sizing: border-box;
    min-height: 9rem;
    color: $bandsite-black;
    @include copy-mobile;
    border-bottom: 2px solid $mercury;
    padding: $mobile-padding 0 0.75rem 0;
    @include flex(flex-start, flex-start, $mobile-padding);
    position: relative;

    @include tablet {
        padding: 1.75rem 0;
        line-height: 1.35rem;
        letter-spacing: 0.4px;
    }

    &__img {
        @include avatar;
        background-color: $mercury;
        flex-shrink: 0;
    }

    &__container {
        flex-grow: 1;
    }

    &__header {
        @include flex(space-between);
        padding-bottom: 0.5rem;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $silver;
    }

    &__social {
        position: absolute;
        bottom: 0.3125rem;
        right: 1.875rem;
        @include flex(center, center, 1.5rem);
    }

    &__likes {
        margin-top: 0.25rem;
    }

    &__like-button {
        background-color: $white;
        // @include background-image("../assets/icons/icon-like-lighter.svg");
        border: none;
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;

        &:active {
            // background-image: url("../assets/icons/icon-like-lighter-filled.svg");
        }
    }

    &__like-number {
        color: $silver;
    }

    &__delete {
        background-color: $white;
        // @include background-image("../assets/icons/icon-delete-lighter.svg");
        border: none;
        width: 0.75rem;
        height: 1rem;

        &:active {
            // background-image: url("../assets/icons/icon-delete-lighter-filled.svg");
        }
    }
}

.popup {
    background-color: $white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 10rem;
    padding: 1rem;
    @include flex(center, center);
    row-gap: 1rem;
    flex-direction: column;

    @include tablet {
        width: 60%;
        padding: 1rem 2rem;
        height: 13rem;
    }

    @include desktop {
        width: 50rem;
    }

    &__background{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $bandsite-black-transparent;
        @include flex(center, center);
    }

    &__text {
        align-self: flex-start;
    }

    &__title {
        color: $bandsite-black;
        @include subheader-mobile;

        @include tablet {
            @include subheader-tablet;
        }
    }

    &__subtitle {
        color: $bandsite-black;
        @include copy-mobile;

        @include tablet {
            @include copy-tablet;
        }
    }

    &__button-container {
        align-self: flex-end;
    }

    &__button {
        &--cancel {
            @include copy-mobile;
            background-color: $white;
            color: $bandsite-black;
            border: none;

            @include tablet {
                @include copy-tablet;
            }
        }

        &--confirm {
            @include button;
            width: 9.375rem;
            margin-left: 1rem;
        }
    }
}