@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.main {
    background-color: $white;
    @include desktop {
        width: $desktop-content-width;
        margin: auto;
        @include flex(flex-start, flex-start, 4.7rem);
    }
}

.shows {
    &__title {
        @include header;
        min-width: 11.8125rem;
        min-height: 2.17rem;
        margin: 2.1rem $mobile-padding 0.3rem;

        @include tablet {
            margin: $tablet-headline-padding $tablet-out-padding $tablet-out-padding;
        }

        @include desktop {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__image {
        height: 1.5rem;
        margin-left: 1rem;
        margin-bottom: -0.35rem;
    }
}