@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.form {
    padding-bottom: $mobile-padding;
    
    @include tablet {
        margin: 0 3.75rem;
        border-bottom-width: 2px;
    }

    @include desktop {
        margin: 0 16.1rem;
    }

    &__container {
        background-size: contain;
        background-repeat: no-repeat;
        aspect-ratio: 2.84 / 1;
        position: relative;
    }

    &__img {
        position: absolute;
        width: 20%;
        top: 12.5%;
        left: 11%;
    }

    &__label {
        @include label-mobile;
        text-transform: uppercase;
        color: $silver;

        @include tablet {
            @include label-tablet;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
    }

    &__input {
        position: absolute;
        background: transparent;
        box-sizing: border-box;
        font-family: 'Stardew Valley Header';
        color: #56160C;
        text-shadow: #E09650 1px 1px 0;

        width: 31%;
        height: 15%;
        bottom: 10%;
        left: 5%;
        text-align: center;
        border: none;

        font-size: 1.6rem;

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 1.6rem;
        }

        &:focus-within {
            outline: none;
            background-color: rgba(233, 233, 233, 0.281);
        }
    }

    &__textarea {
        @extend .form__input;
        text-align: left;
        width: 55%;
        height: 81%;
        top: 9%;
        left: 41%;
        resize: none;

        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__button {
        @include button;

        @include tablet {
            align-self: flex-end;
        }
    }
}