@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comments {
    &__title {
        @include header;
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
        min-height: 2.15rem;

        @include tablet {
            padding-top: $tablet-headline-padding;
            margin-bottom: 2rem;
        }
    }
}