@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts" as *;

// Defaults

body {
    font-family: 'Avenir Next', Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

// Nav

.nav {
    background-color: $bandsite-black;

    &__container {
        @include tablet {
            @include flex(flex-start, center);
            margin: 0 $tablet-out-padding;
        }

        @include desktop {
            width: $desktop-content-width;
            // padding: 0.5rem 0;
            margin: auto;
        }
    }
    
    &__logo {
        display: block;
        text-align: center;
        padding: $mobile-padding 0;

        @include tablet {
            padding: 0.3rem 3rem 0 0;
        }
    }

    &__links {
        @include flex(flex-start, center);
    }

    &__link {
        @include subheader-mobile;
        font-weight: 400;
        color: $mercury;
        text-align: center;
        width: 50%;
        padding-bottom: 0.5rem;

        @include tablet {
            margin: 1.5rem $tablet-in-padding 0 $tablet-in-padding;
            padding-bottom: 1.3rem;
            width: auto;
        }

        @include desktop {
            padding: 0.5rem 0 1.8rem 0;
        }

        &:hover {
            color: $white;
            border-bottom: 2px solid $white;
            
            @include tablet {
                border-bottom: 3px solid $white;
            }
        }

        &--selected {
            @extend :hover;
            font-weight: 600; 
        }
    }

    &__clickable:active {
        font-weight: 600;
    }
}

// Hero
.hero {
    height: 57.5vw;

    @include desktop {
        max-height: 38.5rem;
    }

    &__overlay {
        background: $bandsite-black-transparent;
        height: 100%;
        @include flex(flex-start, center);
    }

    &__title {
        @include header-mobile;
        color: $white;
        margin: 0 $mobile-padding;

        @include tablet {
            @include page-header-tablet;
            margin: 0 $tablet-out-padding;
        }

        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }
}

// Footer

.footer {
    background-color: $bandsite-black;
    color: $white;
    padding: $mobile-padding;
    padding-top: $mobile-headline-padding;

    @include tablet {
        padding: $tablet-out-padding;
        padding-top: $tablet-headline-padding;
    }

    @include desktop {
        padding-right: 0;
        padding-left: 0; 
    }

    &__top {
        @include tablet {
            @include flex(space-between, center);
            padding-bottom: $tablet-out-padding;
        }

        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }

    &__top-left {
        @include tablet {
            @include flex(flex-start, center, 2rem);
        }
    }

    &__middle {
        @include tablet {
            @include flex(flex-start, center, calc(2*$tablet-in-padding));
        }

        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }

    &__bottom {
        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }

    &__title {
        @include header-mobile;

        @include tablet {
            @include section-header-tablet;
        }
    }

    &__socials-container {
        @include flex(flex-start, flex-end, 2rem);
        padding: $mobile-padding 0;

        @include tablet {
            padding-top: 0;
            padding-bottom: 0.4rem;
        }
    }

    &__image {
        @include tablet {
            height: 1.5rem;
        }
    }

    &__logo {
        padding-top: 2rem;

        &--top {
            display: none;

            @include tablet {
                display: block;
                padding-top: 0.4rem;
            }
        }

        &--bottom {
            @include tablet {
                display: none;
            }
        }
    }

    &__copyright {
        padding-top: 0.75rem;
        @include label-mobile;
        font-weight: 400;

        @include tablet {
            @include copy-tablet;
            padding-top: $tablet-in-padding;
        }
    }
}

.contact {
    padding-bottom: $mobile-headline-padding;

    &__title {
        @include subheader-mobile;

        @include tablet {
            @include copy-tablet;
            font-weight: 600;
        }
    }

    &__location {
        @include copy-mobile;
        padding: $mobile-padding 0;

        @include tablet {
            @include copy-tablet;
            padding: $tablet-in-padding 0;
        }
    }

    &__email {
        @include copy-mobile;
        color: $white;

        @include tablet {
            @include copy-tablet;
        }
    }
}   