@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts";

//temp 
img {
    width: 100%;
}


// Defaults

body {
    font-family: 'Avenir Next', Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// Nav

.nav {
    // no larger than 20px high and 120px wide, ever
    background-color: $bandsite-black;
    
    &__logo {
        @include header-mobile;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 0.5rem;
    }

    &__links {
        display: flex;
    }

    &__link {
        // min width of line is 1 grid unit and max width is width of text 
        @include subheader-mobile;
        color: $mercury;
        text-align: center;
        flex-grow: 1;
        padding-bottom: 0.5rem;

        &:hover {
            color: $white;
            border-bottom: 2px solid $white;
        }

        &:active, &--active {
            @extend :hover;
            font-weight: 600; 
        }
    }
}

//hero
.hero {
    // what should I use...
    height: 11.5rem;

    &__overlay {
        background: $bandsite-black-transparent;
        height: 100%;
        padding: 0 $mobile-padding;
        display: flex;
        align-items: center;
    }

    &__title {
        @include header-mobile;
        font-weight: 600;
        color: $white;
    }
}