@use "./variables" as *;
@use "./fonts";

@mixin background-image($image) {
    background-image: url($image);
    background-size: cover;
    background-position: center;
}

@mixin flex($justify-content: initial, $align-items: initial, $column-gap: initial, $row-gap: initial, $flex-wrap: initial) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
    flex-wrap: $flex-wrap;
}

@mixin margin {
    margin: 0 $mobile-padding;

    @include tablet {
        margin: 0 $tablet-out-padding;
    }

    @include desktop {
        width: $desktop-content-width;
        margin: auto;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}