// Colors
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$bandsite-black-transparent: rgba(50,50,50,0.5);

// mobile
$mobile-padding: 1rem;
$mobile-headline-padding: 1.5rem;

// tablet/desktop
$tablet-out-padding: 2.25rem;
$tablet-in-padding: 1.5rem;
$tablet-headline-padding: 3rem;

$tablet: 768px;
$desktop: 1280px;

//sizes
$logo-max-width: 7.5rem;
$logo-max-height: 1.25rem;