// Colors
$primary-dark: #323232; // BandSite-Black
$primary-medium: #AFAFAF; // Silver
$primary-light: #FFFFFF; // White

$secondary-dark: #000000; //BandSite-DarkBlack
$secondary-medium: #E1E1E1; // Mercury
$secondary-light: #FAFAFA; //Alabaster