@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comment {
    background-size: contain;
    background-repeat: no-repeat;

    aspect-ratio: 2.84 / 1;
    position: relative;

    &__text {
        position: absolute;
        width: 55%;
        left: 4%;
        top: 8%;
        font-family: 'Stardew Valley Header';
        color: #56160C;
        text-shadow: #E09650 1px 1px 0;

        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__img {
        position: absolute;
        width: 20%;
        top: 12.5%;
        right: 11%;
    }

    &__name {
        position: absolute;
        transform: translateX(-50%);
        bottom: 11%;
        left: 79.5%;
        font-family: 'Stardew Valley Header';
        color: #56160C;
        text-shadow: #E09650 -1px 1px 0;

        font-size: 1.6rem;

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 1.6rem;
        }
        
    }

    &__date {
        font-family: 'Stardew Valley Header';
        color: $silver;
    }
}