@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comment {
    box-sizing: border-box;
    min-height: 9rem;
    color: $bandsite-black;
    @include copy-mobile;
    border-bottom: 2px solid $mercury;
    padding: $mobile-padding 0 0.75rem 0;
    @include flex(flex-start, flex-start, $mobile-padding);
    position: relative;

    @include tablet {
        padding: 1.75rem 0;
        line-height: 1.35rem;
        letter-spacing: 0.4px;
    }

    &__img {
        @include avatar;
        background-color: $mercury;
        flex-shrink: 0;
    }

    &__container {
        flex-grow: 1;
    }

    &__header {
        @include flex(space-between);
        padding-bottom: 0.5rem;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $silver;
    }

    &__social {
        position: absolute;
        bottom: 0.3125rem;
        right: 1.875rem;
        @include flex(center, center, 1.5rem);
    }

    &__likes {
        margin-top: 0.25rem;
    }

    &__like-button {
        background-color: $white;
        // @include background-image("../assets/icons/icon-like-lighter.svg");
        border: none;
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;

        &:active {
            // background-image: url("../assets/icons/icon-like-lighter-filled.svg");
        }
    }

    &__like-number {
        color: $silver;
    }

    &__delete {
        background-color: $white;
        // @include background-image("../assets/icons/icon-delete-lighter.svg");
        border: none;
        width: 0.75rem;
        height: 1rem;

        &:active {
            // background-image: url("../assets/icons/icon-delete-lighter-filled.svg");
        }
    }
}