@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

// About

.about {
    background-color: $white;
    color: $bandsite-black;
    @include margin;

    &__title {
        @include header;
        padding-top: $mobile-headline-padding;

        @include tablet {
            padding-top: $tablet-headline-padding;
        }
    }

    &__container {
        position: relative;
    }

    &__image {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0;

        @include tablet {
            padding: $tablet-in-padding 3.75rem;
        }

        &--calendar {
            width: 72.5%;
            position: absolute;
            transform: translate(-50%, -50%);
            inset: 50%;
        }
    }

    &__quote {
        @include subheader-mobile;

        @include tablet {
            @include typography(600, 1.4rem, 1.8rem);
            padding: 0 3.75rem;
        }
    }

    &__credit {
        @include subheader-mobile;
        padding-top: 0.25rem;

        @include tablet {
            @include typography(600, 1rem, 1.25rem);
            padding: 0.75rem 3.75rem 0 3.75rem;
        }
    }
}

// Bees Knees
.bees-knees {
    background-color: $white;
    color: $bandsite-black;
    padding-bottom: $mobile-padding;
    @include margin;

    @include tablet {
        padding: $tablet-in-padding 0;
    }

    &__title {
        @include subheader-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include subheader-tablet;
            padding-right: 3.75rem;
            padding-left: 3.75rem;
        }
    }

    &__content-container {
        @include tablet {
            @include flex(flex-start, center, 1.25rem);
            padding: 0 3.75rem;
        }
    }

    &__content {
        @include copy-mobile;
        padding-top: $mobile-padding;

        @include tablet {
            @include typography(400, 0.875rem, 1.43rem);
        }
    }
}