@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/global";

// Hero
.hero {
    @include background-image("../../assets/Images/hero-bio.jpg");
}

// About

.about {
    color: $bandsite-black;
    margin: 0 $mobile-padding;

    @include tablet {
        margin: 0 $tablet-out-padding;
    }

    @include desktop {
        width: $desktop-content-width;
        margin: auto;
    }

    &__title {
        @include header-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
        }
    }

    &__image {
        box-sizing: border-box;
        width: 100%;
        height: 54vw;
        object-fit: cover;
        object-position: 0 100%;
        padding: 0.5rem 0;

        @include tablet {
            padding: $tablet-in-padding 3.75rem;
            height: 47vw;
        }

        @include desktop {
            max-height: 33rem;
        }
    }

    &__quote {
        @include subheader-mobile;

        @include tablet {
            @include subheader-tablet;
            @include typography(600, 1.4rem, 1.8rem);
            padding: 0 3.75rem;
        }
    }

    &__credit {
        @include subheader-mobile;
        padding-top: 0.25rem;

        @include tablet {
            @include typography(600, 1rem, 1.25rem);
            padding: 0.75rem 3.75rem 0 3.75rem;
        }
    }
}

// Bees Knees
.bees-knees {
    color: $bandsite-black;
    margin: 0 $mobile-padding;
    padding-bottom: $mobile-padding;

    @include tablet {
        margin: 0 $tablet-out-padding;
        padding: $tablet-in-padding 0;
    }

    @include desktop {
        width: $desktop-content-width;
        margin: auto;
    }

    &__title {
        @include subheader-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include subheader-tablet;
            padding-right: 3.75rem;
            padding-left: 3.75rem;
        }
    }

    &__content-container {
        @include tablet {
            @include flex(flex-start, center, 1.25rem);
            padding: 0 3.75rem;
        }
    }

    &__content {
        @include copy-mobile;
        padding-top: $mobile-padding;

        @include tablet {
            @include typography(400, 0.875rem, 1.43rem);
        }
    }
}

// Gallery
.gallery {
    background-color: $alabaster;

    &__title {
        color: $bandsite-black;
        @include header-mobile;
        padding-top: $mobile-headline-padding;
        margin: 0 $mobile-padding;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
            margin: 0 $tablet-out-padding;
        }

        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }

    &__image-container {
        @include flex(space-between, center, $tablet-in-padding, $mobile-padding, wrap);
        padding: $mobile-padding 0 0.5rem 0;
        margin: 0 $mobile-padding;

        @include tablet {
            row-gap: $tablet-in-padding;
            padding: $tablet-in-padding 0 $tablet-out-padding 0;
            margin:  0 $tablet-out-padding;
        }

        @include desktop {
            width: $desktop-content-width;
            margin: auto;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            width: calc((100% - 2*$tablet-in-padding)/3);
        }
    }

}