@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav {
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    width: 63.75rem;
    padding: 0;
    margin: auto;
  }
}
.nav__logo {
  display: block;
  text-align: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .nav__logo {
    padding: 0;
    padding-right: 3rem;
    padding-top: 0.3rem;
  }
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  font-weight: 400;
  color: #E1E1E1;
  text-align: center;
  width: 50%;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .nav__link {
    margin: 1.5rem 1.5rem 0;
    margin-bottom: 0;
    padding-bottom: 1.3rem;
    width: auto;
  }
}
.nav__link:hover, .nav__link:active, .nav__link.nav__link--active {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav__link:hover, .nav__link:active, .nav__link.nav__link--active {
    border-bottom: 3px solid #FFFFFF;
  }
}
.nav__link:active, .nav__link--active {
  font-weight: 600;
}

.hero {
  height: 57.5vw;
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__overlay {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__overlay {
    padding: 0;
  }
}
.hero__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__title {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    margin: auto;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.25rem;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .footer__top-right {
    display: flex;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__middle {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__middle {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .footer__bottom {
    width: 63.75rem;
    margin: auto;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__socials-container {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__socials-container {
    padding-top: 0;
    padding-bottom: 0.4rem;
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  .footer__image {
    height: 1.5rem;
  }
}
.footer__logo {
  padding-top: 2rem;
}
.footer__logo--top {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--top {
    display: block;
    padding-top: 0.4rem;
  }
}
@media (min-width: 768px) {
  .footer__logo--bottom {
    display: none;
    align-self: center;
  }
}
.footer__copyright {
  padding-top: 0.75rem;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1.5rem;
  }
}

.contact {
  padding-bottom: 1.5rem;
}
.contact__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .contact__title {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.contact__location {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .contact__location {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1.5rem 0;
  }
}
.contact__email {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .contact__email {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  color: #323232;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.about__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .about__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
.about__image {
  box-sizing: border-box;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .about__image {
    padding: 1.5rem 3.75rem;
  }
}
.about__quote {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
}
@media (min-width: 768px) {
  .about__quote {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 3.75rem;
  }
}
.about__credit {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  padding-top: 0.25rem;
}
@media (min-width: 768px) {
  .about__credit {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.75rem 3.75rem 0;
  }
}

.bees-knees {
  color: #323232;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .bees-knees {
    padding: 1.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bees-knees {
    padding-right: 0;
    padding-left: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.bees-knees__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .bees-knees__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
}
@media (min-width: 768px) {
  .bees-knees__content-container {
    display: flex;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    padding: 0 3.75rem;
  }
}
.bees-knees__content {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .bees-knees__content {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0;
  }
}
.gallery__title {
  color: #323232;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    width: 63.75rem;
    margin: auto;
  }
}
.gallery__image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__image-container {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__image-container {
    width: 63.75rem;
    margin: auto;
  }
}
.gallery__image {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__image {
    width: calc((100% - 3rem) / 3);
  }
}/*# sourceMappingURL=bio.css.map */