@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.nav {
  background-color: #323232;
}
.nav__logo {
  text-align: center;
  padding-top: 0.5rem;
}
.nav__links {
  display: flex;
}
.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #E1E1E1;
  text-align: center;
  width: 50%;
  padding-bottom: 0.5rem;
}
.nav__link:hover, .nav__link:active, .nav__link.nav__link--active {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.nav__link:active, .nav__link--active {
  font-weight: 600;
}

.hero {
  height: 11.5rem;
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.hero__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #FFFFFF;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
.footer__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 0.5rem;
}
.footer__container {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 0;
}
.footer__logo {
  padding-top: 2rem;
}
.footer__copyright {
  padding-top: 0.75rem;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
}

.contact {
  padding-bottom: 1.5rem;
}
.contact__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.contact__location {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 1rem 0;
}
.contact__email {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  padding: 0 1rem;
}
.about__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 1.5rem;
}
.about__image {
  width: 100%;
  height: 148px;
  padding: 0.5rem 0;
}
.about__quote, .about__credit {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.about__credit {
  padding-top: 0.25rem;
}

.bees-knees {
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.bees-knees__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 1.5rem;
}
.bees-knees__content {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-top: 1rem;
}

.gallery {
  background-color: #FAFAFA;
  padding: 0 1rem;
}
.gallery__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 1.5rem;
}
.gallery__image-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.gallery__image {
  width: 100%;
}/*# sourceMappingURL=bio.css.map */