@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global";

// hero
.hero {
    @include background-image("../../assets/Images/hero-bio.jpg");
}

// About

.about {
    color: $bandsite-black;
    padding: 0 $mobile-padding;

    @include tablet {
        padding: 0 $tablet-out-padding;
    }

    &__title {
        @include header-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
        }
    }

    &__image {
        box-sizing: border-box;
        width: 100%;
        height: 54vw;
        object-fit: cover;
        object-position: 0 100%;
        padding: 0.5rem 0;

        @include tablet {
            padding: $tablet-in-padding 3.75rem;
            height: 47vw;
        }
    }

    &__quote {
        @include subheader-mobile;

        @include tablet {
            @include subheader-tablet;
            @include typography(600, 1.4rem, 1.8rem);
            padding: 0 3.75rem;
        }
    }

    &__credit {
        @include subheader-mobile;
        padding-top: 0.25rem;

        @include tablet {
            @include typography(600, 1rem, 1.25rem);
            padding: 0.75rem 3.75rem 0;
        }
    }
}

// Bees Knees
.bees-knees {
    color: $bandsite-black;
    padding: 0 $mobile-padding;
    padding-bottom: $mobile-padding;

    @include tablet {
        padding: $tablet-in-padding 6rem; 
        // $tablet-out-padding;
    }

    &__title {
        @include subheader-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include subheader-tablet;
        }
    }

    &__content-container {
        @include tablet {
            display: flex;
            column-gap: 1.25rem;
        }
    }

    &__content {
        @include copy-mobile;
        padding-top: $mobile-padding;

        @include tablet {
            @include copy-tablet;
            // line-height: 1.40rem;
            @include typography(400, 0.875rem, 1.43rem);
        }
    }
}

// Gallery
.gallery {
    background-color: $alabaster;
    padding: 0 $mobile-padding;

    @include tablet {
        padding: 0 $tablet-out-padding;
    }

    &__title {
        color: $bandsite-black;
        @include header-mobile;
        padding-top: $mobile-headline-padding;

        @include tablet {
            @include section-header-tablet;
            padding-top: $tablet-headline-padding;
        }
    }

    &__image-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: $mobile-padding;
        padding-top: 0.5rem;
        padding-bottom: $mobile-padding;

        @include tablet {
            column-gap: $tablet-in-padding;
            row-gap: $tablet-in-padding;
            padding-top: $tablet-in-padding;
            padding-bottom: $tablet-out-padding;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            // width: calc((100vw - 2*$tablet-in-padding - 2*$tablet-out-padding - 18px)/3);
            width: calc((100% - 2*$tablet-in-padding)/3);
        }
    }

}