@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/global";

// Hero
.hero {
    @include background-image("../assets/Images/hero-shows.jpg");
    
    height: 57.5vw;
    min-height: 17.4rem;

    @include desktop {
        height: 40rem;
    }

    &__content {
        width: 100%;
        @include margin;
        padding-top: 2rem;
        padding-bottom: $mobile-headline-padding;

        @include tablet {
            padding-top: 4rem;
            padding-bottom: 3.6rem;
        }

        @include desktop {
            @include flex(center, center);
        }
    }

    &__over-title {
        @include subheader-mobile;
        color: $white;
        font-weight: 400;
        letter-spacing: 0.2px;

        @include tablet {
            @include subheader-tablet;
        }
    }

    &__title {
        padding-top: $mobile-padding;
        padding-bottom: $mobile-padding;
        width: 75%;

        @include tablet {
            padding-bottom: 2.7rem;
        }

        @include desktop {
            width: 80%;
        }
    }

    &__music {
        width: 100%;
        height: 6.3rem;

        @include tablet {
            width: 60%;
            height: 8.5rem;
        }
    }
}

.main {
    // need to fix the rest so that I can use:
    // @mixin margin
    @include desktop {
        width: $desktop-content-width;
        margin: auto;
        @include flex(flex-start, flex-start, 4.7rem);
    }
}

.shows {

    &__title {
        @include header-mobile;
        padding: 2.1rem $mobile-padding 0.3rem;

        @include tablet {
            @include section-header-tablet;
            padding: $tablet-headline-padding $tablet-out-padding $tablet-out-padding;
        }

        @include desktop {
            // will eventually be deleted
            padding-left: 0;
            pading-right: 0;
        }
    }

    &__container {
        padding-bottom: $mobile-padding;

        @include tablet {
            padding: 0 1.125rem;
            padding-bottom: $tablet-out-padding;
        }

        @include desktop {
            flex-grow: 1;
            //will eventually need to be changed:
            padding-right: 0;
            padding-left: 1.125rem;
            // if I have the energy : the dividers go a bit further than the bandsite logo below
            padding-top: $tablet-headline-padding;
        }
    }

    &__header {
        @include flex(flex-start, center);
        padding: 0 1.125rem;
        padding-right: 10.5rem;
    }
}

.show {
    border-bottom: 2px solid $mercury;
    padding: $mobile-padding;
    padding-bottom: 0.9rem;

    @include tablet {
        padding: 0.9rem 1.125rem;

        @include flex(space-between, center);

        &:hover {
            background-color: $alabaster;
        }

        &--selected, &--selected:hover {
            background-color: $silver;
        }
    }


    &__label {
        @include label-mobile;
        color: $silver;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 0.3212rem;

        @include tablet {
            display: none;
            padding-bottom: 0;
        }

        @include desktop {
            @include label-tablet;
        }

        &--header {
            display: none;

            @include tablet {
                display: block;
                padding-bottom: 0.2rem;
                flex: 1 0 0;
            }

            @include desktop {
                padding-bottom: $tablet-out-padding;
            }
        }
    }

    &__content {
        @include copy-mobile;
        letter-spacing: 0.3px;
        color: $bandsite-black;
        padding-bottom: 0.4rem;

        &--bold {
            font-weight: 600;
        }

        @include tablet {
            padding-bottom: 0;
            padding-top: 0.1rem;
            flex: 1 0 0;
        }
    }

    &__button {
        margin-top: 0.819rem;        
        @include button;

        @include tablet {
            margin-top: 0;
        }
    }
}