@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.nav {
  background-color: #323232;
}
.nav__container {
  margin: 0 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .nav__container {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: initial;
         column-gap: initial;
    row-gap: initial;
    flex-wrap: initial;
  }
}
.nav__logo {
  display: block;
  text-align: center;
  padding: 0.7rem 0;
}
@media (min-width: 768px) {
  .nav__logo {
    padding: 0.3rem 3rem 0 0;
  }
}
.nav__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: initial;
       column-gap: initial;
  row-gap: initial;
  flex-wrap: initial;
}
.nav__link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  font-weight: 400;
  color: #E1E1E1;
  text-align: center;
  width: 50%;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .nav__link {
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding-bottom: 1.3rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    padding: 0.5rem 0 1.8rem 0;
  }
}
.nav__link:hover, .nav__link.nav__link--selected {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav__link:hover, .nav__link.nav__link--selected {
    border-bottom: 3px solid #FFFFFF;
  }
}
.nav__link--selected {
  font-weight: 600;
}
.nav__clickable:active {
  font-weight: 600;
}

.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: initial;
       column-gap: initial;
  row-gap: initial;
  flex-wrap: initial;
}
.hero__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__title {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 0 2.25rem;
  }
}
.footer__top {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer__top {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: initial;
         column-gap: initial;
    row-gap: initial;
    flex-wrap: initial;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: initial;
    flex-wrap: initial;
  }
}
.footer__middle {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer__middle {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__middle {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .footer__middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: initial;
    flex-wrap: initial;
  }
}
.footer__bottom {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer__bottom {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__bottom {
    width: 63.75rem;
    margin: auto;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__socials-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: initial;
  flex-wrap: initial;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__socials-container {
    padding-top: 0;
    padding-bottom: 0.4rem;
  }
}
@media (min-width: 768px) {
  .footer__image {
    height: 1.5rem;
  }
}
.footer__logo {
  padding-top: 2rem;
}
.footer__logo--top {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--top {
    display: block;
    padding-top: 0.4rem;
  }
}
@media (min-width: 768px) {
  .footer__logo--bottom {
    display: none;
  }
}
.footer__copyright {
  padding-top: 0.75rem;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1.5rem;
  }
}

.contact {
  padding-bottom: 1.5rem;
}
.contact__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
}
@media (min-width: 768px) {
  .contact__title {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.contact__location {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .contact__location {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1.5rem 0;
  }
}
.contact__email {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .contact__email {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero {
  background-image: url("../../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__content {
  width: 100%;
  margin: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .hero__content {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__content {
    width: 63.75rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .hero__content {
    padding-top: 4rem;
    padding-bottom: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: initial;
         column-gap: initial;
    row-gap: initial;
    flex-wrap: initial;
  }
}
.hero__over-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.2px;
}
@media (min-width: 768px) {
  .hero__over-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 75%;
}
@media (min-width: 768px) {
  .hero__title {
    padding-bottom: 2.7rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 80%;
  }
}
.hero__music {
  width: 100%;
  height: 6.3rem;
}
@media (min-width: 768px) {
  .hero__music {
    width: 60%;
    height: 8.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__music {
    width: 60%;
    height: 8.5rem;
  }
}

@media (min-width: 1280px) {
  .main {
    width: 63.75rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-column-gap: 4.7rem;
         column-gap: 4.7rem;
    row-gap: initial;
    flex-wrap: initial;
  }
}

.shows__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2.1rem 1rem 0.3rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding-left: 0;
    pading-right: 0;
  }
}
.shows__container {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__container {
    padding: 0 1.125rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    flex-grow: 1;
    padding-right: 0;
    padding-left: 1.125rem;
    padding-top: 3rem;
  }
}
.shows__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: initial;
       column-gap: initial;
  row-gap: initial;
  flex-wrap: initial;
  padding: 0 1.125rem;
  padding-right: 10.5rem;
}

.show {
  border-bottom: 2px solid #E1E1E1;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 0.9rem;
}
@media (min-width: 768px) {
  .show {
    padding: 0.9rem 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: initial;
         column-gap: initial;
    row-gap: initial;
    flex-wrap: initial;
  }
  .show:hover {
    background-color: #FAFAFA;
  }
  .show--selected, .show--selected:hover {
    background-color: #AFAFAF;
  }
}
.show__label {
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.3212rem;
}
@media (min-width: 768px) {
  .show__label {
    display: none;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .show__label {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.show__label--header {
  display: none;
}
@media (min-width: 768px) {
  .show__label--header {
    display: block;
    padding-bottom: 0.2rem;
    flex: 1 0 0;
  }
}
@media (min-width: 1280px) {
  .show__label--header {
    padding-bottom: 2.25rem;
  }
}
.show__content {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  letter-spacing: 0.3px;
  color: #323232;
  padding-bottom: 0.4rem;
}
.show__content--bold {
  font-weight: 600;
}
@media (min-width: 768px) {
  .show__content {
    padding-bottom: 0;
    padding-top: 0.1rem;
    flex: 1 0 0;
  }
}
.show__button {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.275rem;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  border-radius: 4px;
  margin-top: 0.819rem;
}
.show__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .show__button {
    width: 9.375rem;
    margin-top: 0;
  }
}/*# sourceMappingURL=shows.css.map */